[submodule "modulos/Leaflet"]
	path = modulos/Leaflet
	url = https://github.com/Leaflet/Leaflet.git
[submodule "modulos/polipo-config"]
	path = modulos/polipo-config
	url = https://github.com/fauno/polipo-config.git
[submodule "modulos/libreprojects"]
	path = modulos/libreprojects
	url = https://github.com/b4zz4/libreprojects.git
